[Unit]
Description=AutoLights LightSensor executable starter
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/home/yigit/Desktop/dezyne-ornek/AutoLightsZenoh/build/LightSensor

[Unit]
PartOf=app.service